.wear{
    position: absolute;
    top: 20;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    height: 200px;
}
.wear .image{
    z-index: 25;
    width: 50%;
    position: relative;
 
}
.wear .glasses{
    z-index: 40;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;

}
.wear .bg-img{
    width: 117%;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
.wear .desc{
    width: 117%;
   transform: translate(-7.25%, -50%);
   height: 30px;
   line-height: 30px;
   position: relative;
   z-index: 20;
   background-color: rgba(222, 184, 135, 0.582);
   font-weight: 700;
}