.background{
    background-image: url("../assets/img/background.jpg");
    width: 100%;
    height: 800px;
    background-size: 110% 200%;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
.background::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    position: absolute;
    top : 0;
    left: 0;
    z-index: 0.1;
}
.background > h1{
    background: rgba(0, 0, 0, 0.67);
    z-index: 10;
    position: relative;
    margin-bottom: 50px;
}
.background .imaged{
    z-index: 20;
    width: 50%;
    height: auto;
    position: relative;
    top: 2%;
    margin-bottom: 20px;
 
}
.innerpic{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}